@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Aprender MVC</h1>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core"> ASP.NET Core</a>.</p>-->
</div>
